:root {
  --primary-button-bc-color: #589d74;
  --border-color: #f8dfdd;
  --result-bc-color: #e7a636;
  --result-font-color: #fff;
  --operators-bc-color: #f2cf92;
  --button-font-color: #fff;
  --cell-height: 50px;
  --cell-width: 125px;
  --buttons-default-font-size: 20px;
  --background-color: #3c153b;
  --header-bc-color: #8b1e3f;
  --primary-fc-color: #f0c987;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  background-color: var(--background-color);
  height: 100%;
}
